.nav-link{
    margin-left: 20px;
    font-weight: bold;
    font-family: cursive;
    font-size: x-large;
}
.navbar-brand {
    margin-left: 20px;
    font-weight: bold;
    font-family: cursive;
    font-size: x-large;
    
}
.dropdown-menu{
    background-color: chartreuse;
}
.carousel-caption{
    color: darkgreen;

}
footer{
    
    background: orange ;
}
.cat{
    margin-left: 20px;
    font-weight: bold;
    font-family: cursive;
    font-size: x-large;
}